In [2]:
import json
import pandas as pd

In [35]:
league = 48

In [36]:
with open(f'data/{league}/league_details.json','r') as f:
    data = json.loads(f.read())

In [37]:
teams = {}

for team in data['league_entries']:
    id = team['id']
    name = team['entry_name']

    if not id in teams:
        teams[id] = name

In [38]:
points_against = {}

for game in data['matches']:
    week = game['event']
    entry1 = game['league_entry_1']
    entry1points = game['league_entry_1_points']
    entry2 = game['league_entry_2']
    entry2points = game['league_entry_2_points']

    team1 = teams[entry1]
    team2 = teams[entry2]
    
    if not team1 in points_against:
        points_against[teams[entry1]] = 0

    if not team2 in points_against:
        points_against[teams[entry2]] = 0

    points_against[team1] = points_against[team1]+entry2points
    points_against[team2] = points_against[team2]+entry1points

In [39]:
df = pd.DataFrame.from_dict(points_against, orient='index', columns=['points_against'])
df['avg'] = (round(df['points_against']/38))
df.sort_values(by='points_against', ascending=False)

                    points_against   avg
Ali Stars                     1728  45.0
Nippon Nerfers                1699  45.0
Montreal Giants               1687  44.0
Rathfriland Tapirs            1669  44.0
Dynamo Doagh                  1642  43.0
Shelvey's Angels              1628  43.0
Dyatlov Passers               1571  41.0
Soldiers Coming               1498  39.0