In [2]:
import json
import pandas as pd
import statistics

In [3]:
league = 48

In [4]:
with open(f'data/{league}/league_details.json','r') as f:
    data = json.loads(f.read())

In [5]:
scores = {}

for record in data['matches']:
    week = record['event']
    if not week in scores:
        scores[week] = []

    scores[week].append(record['league_entry_1_points'])
    scores[week].append(record['league_entry_2_points'])

In [7]:
avg_per_week = {}

for week in scores:
    # avg = round(sum(scores[week])/len(scores[week]))
    mean = statistics.median(scores[week])
    avg_per_week[week] = mean

pd.DataFrame.from_dict(avg_per_week, orient='index')

       0
1   43.0
2   35.0
3   41.0
4   53.5
5   38.5
6   39.0
7    0.0
8   31.0
9   41.0
10  44.0
11  42.0
12  40.0
13  39.0
14  50.0
15  33.0
16  40.5
17  47.5
18  41.0
19  52.0
20  44.0
21  43.5
22  39.0
23  43.5
24  34.5
25  64.0
26  40.0
27  52.0
28  30.0
29  65.5
30  40.0
31  42.5
32  42.5
33  40.5
34  66.5
35  32.5
36  58.5
37  46.5
38  38.0

In [8]:
teams = {}

for team in data['league_entries']:
    id = team['id']
    name = team['entry_name']

    if not id in teams:
        teams[id] = name

In [9]:
games = []

for game in data['matches']:
    week = game['event']
    entry1 = game['league_entry_1']
    entry1points = game['league_entry_1_points']
    entry2 = game['league_entry_2']
    entry2points = game['league_entry_2_points']

    # calc weekly points v avg 
    avg = avg_per_week[week]

    entry1res = 3 if entry1points > avg else 1 if entry1points == avg else 0
    entry2res = 3 if entry2points > avg else 1 if entry2points == avg else 0

    games.append([teams[entry1], entry1res])
    games.append([teams[entry2], entry2res])

In [10]:
df = pd.DataFrame(games, columns=["team", "points"])
df.groupby('team').sum().sort_values(by='points', ascending=False)

                    points
team
Soldiers Coming         74
Dynamo Doagh            71
Nippon Nerfers          65
Dyatlov Passers         52
Ali Stars               50
Rathfriland Tapirs      47
Shelvey's Angels        47
Montreal Giants         41