In [19]:
import json
import pandas as pd

In [87]:
league = 48

In [80]:
with open(f'data/{league}/league_details.json','r') as f:
    data = json.loads(f.read())

In [81]:
scores = {}

for record in data['matches']:
    week = record['event']
    if not week in scores:
        scores[week] = []

    scores[week].append(record['league_entry_1_points'])
    scores[week].append(record['league_entry_2_points'])

In [89]:
avg_per_week = {}

for week in scores:
    avg = round(sum(scores[week])/len(scores[week]))
    avg_per_week[week] = avg

pd.DataFrame.from_dict(avg_per_week, orient='index')

     0
1   43
2   41
3   44
4   50
5   39
6   40
7    0
8   32
9   41
10  46
11  41
12  41
13  38
14  48
15  39
16  39
17  46
18  38
19  51
20  50
21  46
22  42
23  45
24  37
25  53
26  43
27  52
28  34
29  69
30  41
31  45
32  39
33  41
34  67
35  34
36  56
37  50
38  40

In [90]:
teams = {}

for team in data['league_entries']:
    id = team['id']
    name = team['entry_name']

    if not id in teams:
        teams[id] = name

In [91]:
games = []

for game in data['matches']:
    week = game['event']
    entry1 = game['league_entry_1']
    entry1points = game['league_entry_1_points']
    entry2 = game['league_entry_2']
    entry2points = game['league_entry_2_points']

    # calc weekly points v avg 
    avg = avg_per_week[week]

    entry1res = 3 if entry1points > avg else 1 if entry1points == avg else 0
    entry2res = 3 if entry2points > avg else 1 if entry2points == avg else 0

    games.append([teams[entry1], entry1res])
    games.append([teams[entry2], entry2res])

In [92]:
df = pd.DataFrame(games, columns=["team", "points"])
df.groupby('team').sum().sort_values(by='points', ascending=False)

                    points
team
Dynamo Doagh            76
Nippon Nerfers          59
Soldiers Coming         59
Rathfriland Tapirs      47
Shelvey's Angels        45
Dyatlov Passers         44
Ali Stars               42
Montreal Giants         35